.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Navbar Componets Start */

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 5px solid rgb(162, 77, 241);
  padding: 0 100px 0 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #181824;

}





.navbar .name a {
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  font-size: 35px;
}

.navbar .name a:hover {
  text-decoration-color: rgb(211, 130, 31);
  transition: all 0.3s;
  color: rgb(253, 133, 133);

}

.navbar .page-info {
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}


.navbar .page-info a {
  cursor: pointer;
  text-decoration: none;
  width: 90px;
  padding: 5px 0 5px 0;
  color: white;
  font-size: 15px;
}

.navbar .page-info a:hover {
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  background-color: #61dafb;
  border-radius: 2px;
}


/* Navbar Componets End */


/* Hero Section */


.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 100px;
  background-color: rgb(52, 8, 56);
  color: azure;
  height: 600px;
}

.hero .profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}


.hero .profile p:nth-child(1) {
  font-size: 30px;
  margin: 20px 0 10px 0;
}

.hero .profile p:nth-child(2) {
  font-size: 56px;
  font-weight: bold;
  margin: 3px 0 10px 0;
}

.hero .profile p:nth-child(3) {
  font-size: 20px;
  margin: 3px 0 30px 0;
}

.acces-btn {
  display: flex;
  gap: 10px;
}

.acces-btn button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;

}

.acces-btn button:hover {
  background-color: #2f62af;
  color: aqua;
  transition: all 0.5s;
  zoom: 1;
}

.profileimage {
  position: relative;
  height: 600px;
}


.hero .profileimage .circle {
  position: relative;
  width: 650px;
  height: 650px;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid wheat;
  margin: 100px 100px 0 0;

}

.proimage {
  position: absolute;
  height: 700px;
  bottom: 10px;
  right: 60px;
  box-shadow: #282c34;
}


.dividar {
  height: 150px;
  background-color: #0c0120;
  position: relative;
}


/* About Saction */




.aboutme {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 200px 20px 200px;
  background-color: rgb(52, 8, 56);
  color: aqua;
}


.aboutme header {
  font-size: 30px;
  font-weight: bolder;
  color: #883aec;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.aboutme p {
  text-align: left;
  font-size: 20px;
}

.expriance {
  display: flex;  
  gap: 25px;
}

.expriance header {
  color: #883aec;
  font-weight: bolder;
  font-size: 70px;
  width: 150px;
  align-items: flex-start;
}

.expriance .about-info {

  text-align: left;
  font-size: 20px;

}


.skils {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.lable {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  background-color: #883aec;
  width: 250px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  height: 200px;
}

.lable:hover {
  background-color: #b485f1;
  box-shadow: 10px 5px black;
}


.logo {
  width: 100px;
}


/* Servive Section */

.service {
  display: flex;
  flex-direction: column;
  
  border-top: 5px solid white;
  background-color: rgb(52, 8, 56);
  padding: 40px 200px 20px 200px;
  color: aliceblue;
}


.service header {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
  justify-content: flex-start;
  padding-left: 169px;
}


.offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.info {
  
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 0px 5px 5px rgb(14, 10, 5);
  

}

.info:hover {
  background-color: rgb(8, 55, 95);
  color: #fcfaff;
  box-shadow: 6px 6px brown;
  transition: all 0.4s;
}

.ser-img {
  width: 100px;
}