.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Navbar Componets Start */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 5px solid rgb(162, 77, 241);
  padding: 0 100px 0 100px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  background-color: #181824;

}





.navbar .name a {
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  font-size: 35px;
}

.navbar .name a:hover {
  text-decoration-color: rgb(211, 130, 31);
  transition: all 0.3s;
  color: rgb(253, 133, 133);
 
}

.navbar .page-info {
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}


.navbar .page-info a {
  cursor: pointer;
  text-decoration: none;
  width: 90px;
  padding: 5px 0 5px 0;
  color: white;
  font-size: 15px;
}

.navbar .page-info a:hover {
  color: rgb(0, 0, 0);
  transition: all 0.3s ;  
  background-color: #61dafb;
  border-radius: 2px;
}


/* Navbar Componets End */


/* Hero Section */


.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 100px;   
  background-color: rgb(52, 8, 56);
  color: azure;
  height: 500px;
}

.hero .profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}


.hero .profile p:nth-child(1) {
    font-size: 30px;
    margin: 20px 0 10px 0;
}

.hero .profile p:nth-child(2) {
  font-size: 56px;
  font-weight: bold;
  margin: 3px 0 10px 0;
}

.hero .profile p:nth-child(3) {
  font-size: 20px;
  margin: 3px 0 30px 0;
}




.profileimage {
  position: relative;
  
}


.circle {
  position: absolute;
    width: 650px;
    height: 650px;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 10px;
    left: 600px;
}

